@import '../../Styles/mixins';


.s-container {
  @include flexAlignment(column, center, center);
  @include size(250px, 250px);
  text-align: center;
  box-shadow: 11px 11px 0px 0 #B42227;


  .s-container__card {
    @include size;
    background-color: black;

    .s-container__title-card {
      @include flexAlignment(column, center, center);
      @include size(100%, 20%);
      gap: 10px;
      color: white;
      font-size: 0.8rem;

      h3 {
        width: 80%
      }
    }
  }


  img {
    @include size(100%, 80%);
    object-fit: cover;
  }
}