@import '../../Styles/mixins';


.f-container {
  @include size(100%, 130vh);
  background-image: url('../../Assets/imgfirst.png');
  object-fit: contain;
  background-repeat: round;

  @media(max-width: 1920px) {
    background-repeat: space;
    @include size(100%, 100vh);
  }

  @media(max-width: 1400px) {
    @include size(100%, 140vh);
  }

  @media(max-width: 1440px) {
    @include size(100%, 140vh);
  }

}